@layer global, component, utility;

@layer global {
  /* source-sans-3-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/source-sans-3-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/source-sans-3-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /*Fonts*/
  :root {
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-22: calc(22 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-36: calc(36 / 16 * 1rem);
    --fs-42: calc(42 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-72: calc(72 / 16 * 1rem);

    --font-size-topnav: var(--fs-14);
    --font-size-h1: var(--fs-42);
    --font-size-h2: var(--fs-36);
    --font-size-h3: var(--fs-24);
    --font-size-txt-banner: var(--fs-24);
    --font-size-button-label: var(--fs-18);
    --font-size-txt: var(--fs-18);
    --font-size-txt-features: var(--fs-20);
    --font-size-h2-testimonial: var(--fs-24);
    --font-sise-txt-testimonial: var(--fs-20);
    --font-size-footer-header: var(--fs-22);

    @media (width >= calc(600 / 16 * 1rem)) {
      --font-size-topnav: var(--fs-16);
      --font-size-h1: var(--fs-72);
      --font-size-h2: var(--fs-48);
      --font-size-txt-banner: var(--fs-28);
      --font-size-txt-features: var(--fs-24);
      --font-size-h2-testimonial: var(--fs-36);
      --font-size-txt-testimonial: var(--fs-24);
    }
  }

  /*Colors*/
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-gray-dark: hsl(220, 4%, 25%);
    --c-purple: hsl(230, 50%, 50%);
    --c-teal: hsl(180, 100%, 50%);
    --c-transparent: transparent;
    --c-magenta: hsl(320, 85%, 41%);
    --c-gradient: linear-gradient(to right, #3a3749, #4a5bcf, #00d6d6);

    --color-main-bg: var(--c-white);
    --color-text-dark: var(--c-gray-dark);
    --color-text-light: var(--c-white);
    --color-header-bg: var(--c-purple);
    --color-hero-bg: var(--c-purple);
    --color-button-primary-bg: var(--c-teal);
    --color-button-primary-text: var(--c-gray-dark);
    --color-button-secondary-bg: var(--c-transparent);
    --color-button-secondary-border: var(--c-white);
    --color-button-secondary-text: var(--c-white);
    --color-fullwidth-bg: var(--c-magenta);
    --color-fullwidth-CTA-bg: var(--c-gradient);
  }

  *::before,
  ::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: var(--color-text-dark);
    padding-block-end: 450vh; /*Temporary*/
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  h3 {
    font-size: var(--font-size-h3);
  }

  a {
    text-decoration: none;
  }

  button {
    border-radius: 24px;
    font-size: var(--font-size-button-label);
    font-weight: 700;
  }

  img,
  picture,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
  }
}

@layer component {
  .topnav {
    background-color: var(--color-header-bg);

    .topnav_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 12px;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 20px;
      }
    }

    .topnav__homelink {
      &:hover {
        opacity: 0.8;
      }
    }

    .topnav_logo {
      width: calc(70 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(128 / 16 * 1rem);
      }
    }

    .topnav_links {
      display: flex;
      list-style-type: none;
      padding: 0;
      gap: 20px;

      @media (width >= calc(600 / 16 * 1rem)) {
        gap: 40px;
      }
    }

    .topnav_items {
    }

    .topnav_link {
      font-size: var(--font-size-topnav);
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--color-text-light);

      &:hover {
        text-decoration: underline 2px;
        text-underline-offset: 4px;
      }
    }
  }

  .hero_wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: var(--color-hero-bg);
    color: var(--c-white);
    height: 606px;
    margin: 0;
    width: auto;
    height: fit-content;
    padding: 20px 24px 60px 24px;
    gap: 41px;

    @media (width >= calc(945 / 16 * 1rem)) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 123px;
      padding: 40px 120px 80px 120px;
      margin: 0;
    }

    .hero_illustration {
      width: calc(199.89 / 16 * 1rem);
      margin: 0;
      padding: 0;

      @media (width >= calc(600/16*1rem)) {
        width: calc(483 / 16 * 1rem);
        margin: 0;
        padding: 0;
      }
    }
  }

  .hero_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;

    h1 {
      font-weight: 700;

      @media (width >= calc(600 / 16 * 1rem)) {
        line-height: 72px;
      }
    }

    p {
      font-size: var(--font-size-txt-banner);
      line-height: 130%;

      @media (width >= calc(600 /16 * 1rem)) {
        line-height: 36px;
      }
    }
  }

  .btn_holder {
    display: flex;
    gap: 20px;
    margin-top: 2cqh;
  }

  .btn_primary {
    background-color: var(--color-button-primary-bg);
    color: var(--color-button-primary-text);
    border: none;
    width: 130px;
    height: 42px;
  }
  .btn_neutral {
    background-color: var(--color-button-secondary-bg);
    color: var(--color-button-secondary-text);
    border: 1px solid var(--color-button-secondary-border);
    width: 104px;
    height: 42px;
  }

  .features {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 40px;
    margin: 60px 24px 60px 24px;

    @media (width >= calc(840/16*1rem)) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 80px;
      margin: 80px 119px 80px 121px;
    }

    .features_content {
      display: flex;
      flex-direction: column;
      column-gap: 10px;
      row-gap: 10px;

      p {
        font-size: var(--font-size-txt);
        line-height: 23.4px;
      }

      .icon_asterisk {
        width: 43px;
        height: 48px;
      }
      .icon_bell {
        width: 41px;
        height: 48px;
      }
      .icon_payment {
        width: 60.57px;
        height: 48px;
      }
    }
  }

  .fullwidth_feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 24px 60px 24px;
    background-color: var(--color-fullwidth-bg);
    color: var(--color-text-light);
    text-align: center;
    gap: 20px;
    height: 620px;

    @media (width >= calc(820/16*1rem)) {
      padding: 80px 218px 80px 218px;
      height: 801px;
    }

    h2 {
      font-weight: 700;

      @media (width >=calc(600/16*1rem)) {
        line-height: 52.8px;
      }
    }

    p {
      font-size: var(--font-size-txt-features);
      line-height: 130%;
      padding-bottom: 20px;

      @media (width >= calc(600/16*1rem)) {
        line-height: 31.2px;
      }
    }
    .feature_image {
      width: calc(325 / 16 * 1rem);

      @media (width >= calc(820/16*1rem)) {
        width: calc(792 / 16 * 1rem);
      }
    }
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 60px 24px 60px 24px;
    gap: 30px;

    @media (width>= calc(1200/16*1rem)) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 80px 322px 80px 322px;
      gap: 40px;
    }

    .quote_testimonial {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;

      .page_quotation {
        width: 78px;
        height: 66px;
      }

      .h2 {
        line-height: 130%;
        font-weight: 700;
        font-size: var(--font-size-h2-testimonial);
      }
    }

    .founder_profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @media (width >= calc(600/16*1rem)) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
      }

      .fprofile {
        width: 120px;
        height: 120px;
      }

      .founder_info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (width>=calc(600/16*1rem)) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        p {
          font-size: var(--font-sise-txt-testimonial);
          line-height: 130%;
          text-align: center;

          @media (width>=calc(600/16*1rem)) {
            text-align: left;
          }
        }
      }
    }
  }

  .fullwidth_CTA {
    padding: 60px 24px 60px 24px;
    background: var(--color-fullwidth-CTA-bg);

    @media (width>=calc(900/16*1rem)) {
      padding: 80px 218px 80px 218px;
    }
  }

  .CTA_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--c-white);
    text-align: center;

    h2 {
      line-height: 110%;
      @media (width >= calc(600/16*1rem)) {
        line-height: 48px;
      }
    }
    p {
      font-size: var(--font-size-txt-banner);
      line-height: 130%;

      @media (width >=calc(600/16*1rem)) {
        line-height: 36px;
      }
    }
    .CTA_button {
      background-color: var(--c-white);
      border: none;
      font-size: var(--font-size-button-label);
      width: 130px;
      height: 42px;
      margin-top: 20px;
    }
  }

  footer {
    padding: 60px 32px 60px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    @media (width>=calc(600/16*1rem)) {
      padding: 80px 257px 80px 120px;
    }
    .footer_logo {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .flogo {
        width: 128px;
        height: 36px;

        p {
          font-size: var(--fs-18);
          line-height: 18px;
        }
      }
    }

    .footer_links {
      display: flex;
      justify-content: flex-start;
      gap: 40px 20px;
      align-items: flex-start;
      flex-wrap: wrap;
      align-content: flex-start;
      width: fit-content;
      height: fit-content;

      @media (width>=calc(840/16*1rem)) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 149px;
        align-items: flex-start;
        flex-wrap: wrap;

        .footer_links > div,
        .company,
        .support,
        .social_media_links,
        .resources {
          flex-basis: calc(50%-10px);
          box-sizing: border-box;
        }
      }
      .footer_header {
        font-size: var(--font-size-footer-header);
        font-weight: 700;
      }

      p {
        font-size: var(--fs-18);
        line-height: 130%;
      }
      .company {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;
        width: 154px;
        height: 145px;
      }

      .support {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;
        width: 145px;
        height: 116px;

        @media (width>=calc(840/16/1rem)) {
          width: 154px;
          height: 145px;
        }
      }

      .social_media_links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 6px;
        width: 154px;
        height: 145px;

        .social_media {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;

          .footer_icon_twitter {
            width: 18px;
            height: 15px;
          }
          .footer_icon_fb {
            width: 18px;
            height: 18px;
          }
          .footer_icon_instagram {
            width: 18px;
            height: 18px;
          }
          .footer_icon_youtube {
            width: 18px;
            height: 12.66px;
          }
        }
      }

      .resources {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;
        width: 111px;
        height: 87px;

        @media (width>=calc(840/16/1rem)) {
          width: 154px;
          height: 145px;
        }
      }
    }
  }
}

@layer utility {
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &.skip:focus {
      left: 0;
      width: auto;
      height: auto;
      background: #ffff;
      padding: 10px;
      border: 1px solid;
    }
  }
}
